Source: bobcat
Priority: optional
Maintainer: Frank B. Brokken <f.b.brokken@rug.nl>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1
Section: libs

Package: bobcat-dev
Section: libdev
Architecture: any
Depends: bobcat (= ${Source-Version})
Description: Bobcat headers and documentation
 Headers and documentation of the bobcat library.

Package: bobcat
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, g++ (>= 4.0.3)
Description: Plain Bobcat library
 The (shared) bobcat library.

