Source: bobcat
Section: libs
Priority: optional
Maintainer: Frank B. Brokken <f.b.brokken@rug.nl>
Uploaders: George Danchev <danchev@spnet.net>
Build-Depends: debhelper (>= 4.0.0), libmilter-dev (>= 8.13.6-1), 
                libx11-dev (>= 6.9.0.dfsg.1-6), yodl (>= 2.01.03), 
                g++ (>= 4.0.0)
Standards-Version: 3.7.2

Package: libbobcat1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: run-time (shared) Bobcat library
 The (shared) Bobcat library contains classes and templates used by, e.g., the
 Stealth and Bisonc++ programs. 
 .
 The Bobcat library contains a variety of C++ classes and templates, some of
 them based on well-known Design Patterns. The library offers classes
 handling, e.g.,
    Child Processes, Forks, Pipes and Redirection
    Command-to-Function associations
    Command-line arguments
    Configurable Context Wrapping (Templates)
    Configuration Files
    Extended String Operations
    Hash-tables
    File-descriptor baed streams, among which sockets
    Mail headers and mail filtering (milters)
    Pattern matching
    Reference Counting
    Single Key Input
    Syslog- and other kinds of messages
    Universal Type Conversions (Templates)

Package: libbobcat1-dev
Architecture: any
Section: libdevel
Depends: libbobcat1
Description: headers and documentation for the Bobcat library
 Headers and documentation of classes defined in the Bobcat library.
 .
 The Bobcat library contains a variety of C++ classes and templates, some of
 them based on well-known Design Patterns. The library offers classes
 handling, e.g.,
    Child Processes, Forks, Pipes and Redirection
    Command-to-Function associations
    Command-line arguments
    Configurable Context Wrapping (Templates)
    Configuration Files
    Extended String Operations
    Hash-tables
    File-descriptor baed streams, among which sockets
    Mail headers and mail filtering (milters)
    Pattern matching
    Reference Counting
    Single Key Input
    Syslog- and other kinds of messages
    Universal Type Conversions (Templates)
 .
 The libbobcat1-dev package contains the static library as well as header
 files and manual pages of the Bobcat classes and templates.
